{% extends 'base.html' %}
{% block content %}
{% load static %}

<!-- product section -->
<div class="product-section mt-150 mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="section-title">
                    <h3><span class="orange-text">Result for "</span>{{query}}<span class="orange-text">"</span></h3>

                </div>
            </div>
        </div>
        <div class="row">

            {% for fruit in product %}
            <div class="col-lg-4 col-md-6 text-center">
                <div class="single-product-item">
                    <div class="product-image">
                        <a href="{{ fruit.get_url }}"><img src="{{ fruit.img.url }}" alt=""></a>
                    </div>
                    <h3>{{ fruit.name }}</h3>
                    <p class="product-price"><span>Per Kg</span> {{ fruit.price }}₹ </p>
                    <a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- end product section -->

{% endblock %}